@page
@model azure_app_vs.Pages.DeploymentSlotsModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">
        Testing Deployment Slots
    </h1>
    <h3>
        Validating the deployment slot features
    </h3>
</div>
